.header{
  background-color:var(--baseBackground);
  padding-bottom:100px;
  border-radius:0 0 20px 20px;
  padding-top:2em;
  color:var(--color);
}
.header-total{
  margin:.5em 0;
  font-weight:bold;
  border-bottom:2px solid #7B7D7D;
  padding-bottom:1.5em;
}
.overview h2{
  color:#979A9A;
}

.wrapper h1{
  margin:0;
  font-size:1.7em;
}
