body{
  padding:0;
  margin:0;
  font-family: 'Inter', sans-serif;
  color:var(--basecolor);
  background-color:var(--baseBackground);
}
:root{
  --gray:#5f616d;
  --cardGray:#f0f3fa;
  --lightGray:#f8f9f2;
  --cardTitle:#6f717e;
  --baseBackground:white;
  --baseColor:#1d2029;
  --switchSpinner:white;
  --switch:#5f616d;
  --color:black;
}

.wrapper{
  padding:0 30px;
}

@media screen and (min-width:500px){
  .grid{
    grid-template-columns: 1fr 1fr;
    grid-column-gap:2em;
  }
  .wrapper{
    max-width:1440px;
    margin:auto;
  }
}

@media screen and (min-width:900px){
  .grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap:2em;
  }

  .header-total{
    border:none;
  }

  .header-grid{
    display:grid;
    grid-template-columns:1fr 200px;
  }

}


.is-dark-mode{
  --cardGray:#252b43;
  --baseBackground:#1d2029;
  --baseColor:white;
  --gray:#8088ad;
  --lightGray:#1d2029;
  --cardTitle:#8088ad;
  --switchSpinner:#282943;
  --switch:linear-gradient(to right, #4796d2 0%, #37ce8f 100%);
  --color:white;
}

.is-light-mode{
  --gray:#5f616d;
  --cardGray:#f0f3fa;
  --lightGray:#f8f9f2;
  --cardTitle:#6f717e;
  --baseBackground:white;
  --baseColor:#1d2029;
  --switchSpinner:white;
  --switch:#5f616d;
}


@media (prefers-color-scheme: dark){
  :root{
    --cardGray:#252b43;
    --baseBackground:#1d2029;
    --baseColor:white;
    --gray:#8088ad;
    --lightGray:#1d2029;
    --cardTitle:#8088ad;
    --switchSpinner:#282943;
    --switch:linear-gradient(to right, #4796d2 0%, #37ce8f 100%);
    --color:white;
  }
}